body {
    margin: 20px auto;
    background-image: url(https://th.bing.com/th/id/R.3fb37a0c996297f59dff28b8b0d4eaa2?rik=%2fk3XBF0dyRNLJA&pid=ImgRaw&r=0);
    max-width: 750px;
}

h1{ color: aliceblue;
    text-align: center;
     text-size-adjust: 65px;
}

h2{ color: aliceblue;
    text-align: center;
     text-size-adjust: 45px;
}

header{
    margin-top:10px;
    margin-bottom:10px;
    text-align:center;
}

div{
    border: #AAAAAA 1px solid;
    color: #AAAAAA;
    text-align: center;
    background-color: #0d0d0d;
    overflow:auto;
    position: relative;
    font-family:Bitstream Vera Sans Mono, monospace;
}

a{
    color: aliceblue;
text-size-adjust: 29px;
font-size: 35px;

}
nav{
text-align: center;
text-decoration-style: solid;
}
