body {
    margin: 20px auto;
    background-image: url(https://th.bing.com/th/id/R.3fb37a0c996297f59dff28b8b0d4eaa2?rik=%2fk3XBF0dyRNLJA&pid=ImgRaw&r=0);
    max-width: 750px;
}



h1{ color: aliceblue;
    text-align: center;
     text-size-adjust: 65px;
}

h2{ color: aliceblue;
    text-align: center;
     text-size-adjust: 45px;
}